.AnswButton{
    padding: 12px;
    outline: none;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    gap: 25px;
    width: 100%;
    align-items: center;
    font-size: 11px;
    position: relative;
    transition: 0.3s ease;
}

.AnswButton h1{
    width: 68%;
    display: flex;
    flex-wrap: wrap;
}

.box{
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 8px;
    font-weight: 500;
    font-size: 22px;
    transition: 0.3s ease;
}

.TstImg{
    width: 22px;
    height: 22px;
}

.CorrectImg{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 20px;
    transition: 0.3s ease;
}

.IncorrectImg{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 20px;
    transition: 0.3s ease;
}

@media screen and (width < 769px) {
  .AnswButton{
    padding: 8px;
    scale: 0.9;
  }
}
