* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #313e51;
}

button{
  cursor: pointer;
}

.background {
  position: absolute;
  z-index: -3;
  width: 100%;
  height: 100%;
  background-color: #f4f6fa;
}

.decoration {
  position: absolute;
  z-index: -2;
  width: 488.5px;
  height: 488.5px;
  border-radius: 0% 100% 100% 0%/ 100% 0% 100% 0%;
  background-color: #edf1f9;
  display: flex;
}

.minisircle {
  z-index: -1;
  width: 380px;
  height: 380px;
  border-radius: 0% 100% 100% 0%/ 100% 0% 100% 0%;
  background-color: #f4f6fa;
}

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.QuestionContainer {
  width: 960px;
  height: 356px;
  display: flex;
}

.AnswersBox {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Submit {
  padding: 15px;
  border: none;
  outline: none;
  background-color: #a729f5;
  border-radius: 24px;
  display: grid;
  width: 100%;
  place-items: center;
  font-size: 13px;
}
