@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Rubik";
  color: #313e51;
}

h1 {
  font-weight: 500;
}

button {
  cursor: pointer;
}

.background {
  position: absolute;
  z-index: -3;
  width: 100%;
  height: 100%;
  background-color: #f4f6fa;
}

.decoration {
  position: absolute;
  z-index: -2;
  width: 488.5px;
  height: 488.5px;
  border-radius: 0% 100% 100% 0%/ 100% 0% 100% 0%;
  background-color: #edf1f9;
  display: flex;
}

.minisircle {
  z-index: -1;
  width: 380px;
  height: 380px;
  border-radius: 0% 100% 100% 0%/ 100% 0% 100% 0%;
  background-color: #f4f6fa;
}

.main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  width: 960px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Header {
  width: 100%;
  padding: 20px 0;
  position: relative;
  display: flex;
  align-items: center;
  bottom: 50px;
}

.QuestionContainer {
  width: 100%;
  height: 356px;
  display: flex;
  gap: 30px;
}

.AnswersBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Submit {
  padding: 15px;
  border: none;
  outline: none;
  background-color: #a729f5;
  border-radius: 12px;
  display: grid;
  width: 100%;
  place-items: center;
  font-size: 13px;
  font-weight: 500;
  transition: 0.3s ease;
}

.Submit:hover {
  opacity: 0.7;
}

.errorMsg {
  color: red;
  align-self: center;
  display: flex;
  text-align: center;
  gap: 8px;
}

.erorImg {
  width: 20px;
  height: 20px;
}

.finalLeft {
  width: 100%;
}

.finalRight {
  justify-self: flex-end;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.finalContiner {
  background-color: #fff;
  width: 100%;
  padding: 30px 0;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.finalContiner h1 {
  font-size: 22px;
}

.score {
  font-size: 144px;
  font-weight: 500;
}

.FinalScore {
  font-size: 24px;
  font-weight: 400;
}

.swich {
  display: flex;
  align-items: center;
  gap: 10px;
}

.toggleIcon {
  position: absolute;
  right: 0;
}

.toggle {
  justify-self: flex-end;
  width: 48px;
  height: 28px;
  border-radius: 999px;
  background-color: #a729f5;
  padding: 4px;
  cursor: pointer;
  transition: 0.3s ease;
  display: inline-block;
  position: relative;
}

.toggle.checked {
  background-color: #a729f5;
}

.toggle .ball {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s;
  transform: translateX(0);
}

.toggle.checked .ball {
  transform: translateX(20px);
}

.toggle-icon {
  /* position: absolute; */
  width: 16px;
  height: 16px;
  /* top: 6px;
  margin-right: 50px; */
}

/* .toggle-icon-moon {
  left: 6px;
  margin-left: 50px;
}

.toggle-icon-sun {
  right: 6px;
} */

.dark .background {
  background-color: #3c465f;
}

.dark .decoration {
  background-color: #2f364a;
}

.dark .minisircle {
  background-color: #3c465f;
}

.dark h1 {
  color: #fff;
}

.dark .container {
  color: #fff;
}

.dark .AnswersBox h1 {
  color: #fff;
}

.dark .AnswButton {
  background-color: hsl(223, 23%, 33%);
  color: #fff;
}

.dark .container h1 span {
  color: rgb(255, 255, 255);
}

.dark .finalContiner {
  background-color: rgba(59, 77, 102, 1);
}

.dark .finalContiner p {
  color: #fff;
}

.dark .title span {
  color: #fff;
}

.dark .ProgressBar {
  background-color: rgba(59, 77, 102, 1);
}

@media screen and (width < 1000px) {
  .QuestionContainer {
    flex-direction: column;
    gap: 0;
  }
  .decoration {
    display: none;
  }
  .minisircle {
    display: none;
  }

  .mainContainer {
    justify-content: normal;
    padding: 0 64px;
  }

  .Header {
    bottom: 0;
    padding: 20px 5%;
  }

  .toggleIcon {
    right: 5%;
  }

  .AnswersBox {
    margin-top: 20px;
    gap: 5px;
  }

  .Submit {
    scale: 0.9;
  }

  .errorMsg {
    font-size: 14px;
  }

  .erorImg {
    width: 16px;
    height: 16px;
  }

  .finalLeft {
    scale: 0.9;
  }

  .finalContiner {
    scale: 0.9;
  }

  .finalContiner div {
    scale: 0.9;
  }

  .score {
    font-size: 110px;
  }
}

@media screen and (width < 426px) {
  .mainContainer {
    padding: 0 10px;
  }
}
